<!--The content below is only a placeholder and can be replaced.-->
<br>
<div class="row">
  <div class="col-md-6">
    <app-lookup-form></app-lookup-form>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
<div (konami)="konami()"></div>