<form (ngSubmit)="onSubmit(zipcode.value)">
  <fieldset>
    <legend>ZIP Code Lookup</legend>
    <div class="form-group">
        <input type="text" name="zipcode" placeholder="zipcode" class="form-control" #zipcode>
    </div>
    
    <input type="submit" class="btn btn-success">
  </fieldset>
</form>