 <div class="card">
  <div class="card-header">Data Store</div>
  <div class="card-body">
      <pre>{{state$ | async | json}}</pre>
  </div>
</div>
<small>HINT: Enter the <em>Konami Code</em> to reset the data store.</small> <br>
<a routerLink="/link" *ngIf="zipPop$ | async">View Link</a>